<div id="skills_panel" class="skills_panel">
    <h1 id="title" data-aos='fade-up'>Skills</h1>
    <div id="skills_wrapper" data-aos='fade-up'>
        <!-- <div class="skills_container" *ngFor="let skill of skills; let x = index;">
            <div class="skills_image">
                <img src={{skill.image}} alt="" id="image_element">
            </div>
            <div id="skills_name">
                <p id="name_element">{{skill.name}}</p>
            </div>
        </div> -->
    </div>
</div>