<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/p5.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/addons/p5.dom.js"> </script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/p5.js"></script>
<!-- <script src="./../../assets/p5/loopsExample/loopsExample.js"></script>
<script src="./../../assets/p5/waves/waves.js"></script> -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- <script src="https://cdn.jsdelivr.net/npm/p5@1.3.1/lib/p5.min.js"></script> -->
<!-- <script src='//cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/p5.js'> </script> 
<script src='//cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/addons/p5.dom.js'> </script>  -->
<!-- <script src="./../../assets/p5/spinning/spinning.js"></script>
<script src="./../../assets/p5/Rings/Rings.js"></script>
<script src="./../../assets/p5/square/square.js"></script>
<script src="./../../assets/p5/peril/peril.js"></script> -->
<div id="project_panel" class="project_panel">
    <div class="project_container">
        <h1 id="title" data-aos='fade-up'>Projects</h1>
        <div class="projects">
            <!-- <div class="project_wrapper">
                <div class="column_left" data-aos='fade-up'>
                    <img src='./../../assets/project/phone.png' alt="" id="project_image">
                </div>
                <div class="column_right" data-aos='fade-up'>
                    <p id="project_title">Poop Alert</p>
                    <p id="project_stack">Flutter & firebase</p>
                    <p class="project_description">A soical app for when your on the toilet! </p>
                </div>
            </div>
            <div class="project_wrapper">
                <div class="column_right" data-aos='fade-up' id='flip'>
                    <p class="project_description" id='PA'>Connect and chat with other poopers around the world.</p>
                </div>
                <div class="column_left" data-aos='fade-up' id='flip'>
                    <img src='./../../assets/project/phone_2.png' alt="" id="project_image">
                </div>
            </div>
            <div class="project_wrapper">
                <div class="column_left" data-aos='fade-up'>
                    <img src='./../../assets/project/phone_3.png' alt="" id="project_image">
                </div>
                <div class="column_right" data-aos='fade-up'>
                    <p class="project_description">Put in the bathroom time to stay on top of the leader board!</p>
                </div>
            </div>
            <div class="project_wrapper">
                <div class="column_right" data-aos='fade-up' id='flip'>
                    <p class="project_description" id='PA'>Pick and a team and compete to claim world domination.</p>
                </div>
                <div class="column_left" data-aos='fade-up' id='flip'>
                    <img src='./../../assets/project/phone_4.png' alt="" id="project_image">
                </div>
            </div> -->
            <div class="project_wrapper" id="SB">
                <div class="column_left" data-aos='fade-up'>
                    <img src='./../../assets/project/sb_1.png' alt="" id="project_image">
                </div>
                <div class="column_right" data-aos='fade-up'>
                    <p id="project_title">Study Buddy</p>
                    <p id="project_stack">Javascript & React</p>
                    <p class="project_description">All in one app for all your studying needs!</p>
                    <button><a href="https://chrome.google.com/webstore/detail/study-buddy/oclpffaofghhmjgdldcmnkofpdnogdnf?hl=en&authuser=0" target="_blank">Explore more!</a></button>
                </div>
            </div>
            <div class="project_wrapper" id="SB">
                <div class="column_right" data-aos='fade-up' id='flip'>
                    <p class="project_description" id="SB">Easily keep track of tasks that need to be completed
                        throughout the day.</p>
                </div>
                <div class="column_left" data-aos='fade-up' id='flip'>
                    <img src='./../../assets/project/sb_2.png' alt="" id="project_image">
                </div>
            </div>
            <div class="project_wrapper" id="SB">
                <div class="column_left" data-aos='fade-up'>
                    <img src='./../../assets/project/sb_3.png' alt="" id="project_image">
                </div>
                <div class="column_right" data-aos='fade-up'>
                    <p class="project_description" id="flip">Attempting to access a site that you've
                        block will redirect you to a motivational message to help get back on track.</p>
                </div>
            </div>
            <div class="project_wrapper" id="SB">
                <div class="column_right" data-aos='fade-up' id='flip'>
                    <p class="project_description" id="SB">Looking for a quick definition for a word? or synonyms for a
                        specific word? Look
                        no further We've got your back! </p>
                </div>
                <div class="column_left" data-aos='fade-up' id='flip'>
                    <img src='./../../assets/project/sb_4.png' alt="" id="project_image">
                </div>
            </div>
            <div class="project_wrapper">
                <div class="column_left" data-aos='fade-up'>
                    <img src='./../../assets/project/favicon.png' alt="" id="project_image">
                </div>
                <div class="column_right" data-aos='fade-up'>
                    <p id="project_title">Pointless Programming</p>
                    <p id="project_stack">P5.js & Flask</p>
                    <p class="project_description">An interactive project!</p>
                    <button class="collapsible">Explore more!</button>
                </div>
            </div>
            <div id="content">
                <div class="animation_panel">
                    <div  id="squares" class="animation_container">
                   
                    </div>
                    <div class="animation_controller">
                        <p class='basic_font'>Squares</p>
                        <div class='canvas_container_template' id='canvas_container_square'></div>
                    </div>
                </div>
                <div class="animation_panel">
                    <div  id="spinning" class="animation_container">
                        <script src="./../../assets/p5/spinning/spinning.js"></script>
                    </div>
                    <div class="animation_controller">
                        <p class='basic_font'>Looping Circles</p>
                        <div class='canvas_container_template' id='canvas_container'></div>
                    </div>
                </div>

                <div class="animation_panel">
                    <div id="looper" class="animation_container">
                    </div>
                    <div class="animation_controller">
                        <p class='basic_font'>Looper</p>
                        <div class='canvas_container_template' id='canvas_container_loop'></div>
                    </div>
                </div>
                

                <div class="animation_panel">
                    <div id="round" class="animation_container">
                    </div>
                    <div class="animation_controller">
                        <p class='basic_font'>Round</p>
                        <div class='canvas_container_template' id='canvas_container_round'></div>
                    </div>
                </div>
            </div>
            <img src="assets/img/background.svg" alt="" class="svg">
        </div>
    </div>