
<div id="hero_panel" class="hero_panel">
    <div class="hero_wrapper">
        <div class="navigation">
            <div id="menuToggle">
                <input type="checkbox" />
                <div class="burger"> <span></span>
                    <span></span>
                    <span></span>
                </div>

                <ul id="menu">
                    <li><a routerLink="/" fragment="hero_panel">
                            <p id="hamburger_nav_text">Home</p>
                        </a></li>
                    <li><a routerLink="/skills" fragment="skills_panel">
                            <p id="hamburger_nav_text">Skills</p>
                        </a></li>
                    <li><a routerLink="/projects" fragment="project_panel">
                            <p id="hamburger_nav_text">Projects</p>
                        </a></li>
                    <li><a routerLink="/contact" fragment="contact_me_panel">
                            <p id="hamburger_nav_text">Contact</p>
                        </a></li>
                </ul>
            </div>
            <div class="left"><img src="assets/img/logo.png" alt="" class="img_element"></div>
            <div class="right">
                <ul>
                    <li><a routerLink="/" fragment="hero_panel">
                            <p>Home</p>
                        </a></li>
                    <li><a routerLink="/skills" fragment="skills_panel">Skills</a></li>
                    <li><a routerLink="/projects" fragment="project_panel">Projects</a></li>
                    <li><a routerLink="/contact" fragment="contact_me_panel">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="column_left">
            <h1 id="name_element" class="fade-in-top">I'm, Philippe</h1>
            <div class="typing_text_container">
                <h1 class='element'>Full stack developer. Digital Artist. Teacher.</h1>
            </div>
            <p id="about_me_element" class="fade-in-top">Front-end developer with 5 years experience.<br>Creating
                apps, websites, extensions and
                using programming to create interactive visuals designs.
            </p>
        </div>
        <div class="column_right">
            <img src="assets/img/skull.png" alt="" id="hero_image" class="fade-in-top">
        </div>
    </div>
</div>