<script src="https://kit.fontawesome.com/7fb840d6ae.js" crossorigin="anonymous"></script>
<div class="contact_me_panel" id="contact_me_panel">
    <div class="contact_me_container">
        <div class="contact_me_wrapper">
            <p id="contact_title">Contact me</p>
            <div class="info_container">
                <div id="icon_wrapper">
                    <fa-icon id="icons" [icon]="email"></fa-icon>
                </div>
                <div class="contact_text_wrapper">
                    <h1>GoldenGooseGlobals@gmail.com</h1>
                </div>
                <div id="icon_wrapper">
                    <fa-icon id="icons" [icon]="instagramIcon"></fa-icon>
                </div>
                <div class="contact_text_wrapper">
                    <a href="https://www.instagram.com/decentdesigns_/"><h1>DecentDesigns_</h1></a>
                </div>
            </div>
            <div class="info_container">
            </div>
        </div>
    </div>
</div>